<div class="navbar">
  <ul class="nav-objects">
    <li>
      <%= image_tag 'logo.svg', class:"logo" %>
    </li>
    <li>
      <%= link_to "New cocktail", new_cocktail_path, class:"new-cocktail" %>
    </li>
  </ul>
</div>

<div class="main-body">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4 columns">
        <div class="cocktail-card">
          <div class="card-name">
            <%= link_to cocktail.name, cocktail_path(cocktail), class:"cocktail-link" %>
          </div>
          <div class="card-delete">
            <%= link_to "Delete", cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class:"delete-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
