<div class="navbar">
  <div class="left-side"></div>
  <div class="center-side">
    <%= image_tag 'logo.svg', class:"logo" %>
  </div>
  <div class="right-side">
    <%= link_to "Add cocktail", new_cocktail_path, class:"new-cocktail" %>
  </div>
</div>

<div class="main-body">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4 columns">
        <div class="cocktail-card">
          <div>
            <%= link_to cocktail.name, cocktail_path(cocktail), class:"cocktail-link" %>
          </div>
          <div class="trash-can">
            <%= link_to fa_icon("trash"), cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class:"delete-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
