.show-body {
  display: flex;
  margin: 48px auto auto auto;
  justify-content: center;
  align-items: stretch;
}

.show-left {
  padding-right: 24px;
}

.show-right {
  padding: 24px;
  background-color: white;
  width: 240px;
}

.back-button {
  margin-top: 64px;
  padding-left: 16px;
  font-size: 16px;
}

.back-button-icon {
  color: rgb(150, 150, 150)
}

.dose-line {
  display: flex;
  align-items: center;
}

.dose-description {
  margin-left: 8px;
}

.dose-trash {
  color: rgba(0, 0, 0, 0.33);
  transition: 0.3s;
  &:hover {
    color: #D7263D;
    transition: 0.3s;
  }
}

