.card-category {
  height: 320px;
  width: 440px;
  color: white;
  margin-top: 80px;
  position: relative;
}

.cocktail-card-show {
  height: 480px;
  width: 440px;
  color: white;
  position: relative;
  background-color: black;
}

.trash-can {
  display: none
}

.cocktail-card:hover .trash-can {
  display: block;
}

.delete-link {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 12px;
  top: 4px;
  font-size: 24px;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.cocktail-link {
  display: inline-block;
  background-color: #28BFA6;
  position: absolute;
  left: 16px;
  top: -16px;
  padding: 4px 8px;
  z-index: 10;
  font-family: "Overpass";
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: black;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: #209B86;
    color: black;
    transition: 0.5s;
  }
}
