.navbar {
  height: 56px;
  background-color: #10181C;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-objects {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
