.navbar {
  height: 56px;
  background-color: #10181C;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 0px rgb(220, 220, 220);
}

.logo {
  height: 24px;
  width: auto;
}

.left-side {
  width: 33%;
}

.center-side {
  text-align: center;
  width: 33%;
}

.right-side {
  width: 33%;
  text-align: right;
}

.new-cocktail {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
  }
}

.cocktail-link {
  display: inline-block;
  background-color: #28BFA6;
  position: absolute;
  left: 16px;
  top: -16px;
  padding: 4px 8px;
  z-index: 10;
  font-family: "Overpass";
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: black;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: #209B86;
    color: black;
    transition: 0.5s;
  }
}


// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
